/* Main stiles */
.reviews .miniSlider2,
.reviews .miniSlider3 {
	padding: 0 110px;
}
.miniSlider2,
.miniSlider3 {
	position: relative;
}
.miniSlider__stage {
	position: relative;
	overflow: hidden;
}
.miniSlider__wrapper {
	display: flex;
	transition: transform .6s ease; /* 0.6 slide change duration  */
}
.miniSlider__item {
	flex: 0 0 100%; /* number of active slides */
	max-width: 100%;
}

/* Styles for button */
.miniSlider__control {
	display: block;
	font-size: 0;
	color: transparent;

	border: none;
	background: none;
	cursor: pointer;

	position: absolute;
	top: 50%;
	z-index: 1000;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.miniSlider__control:focus{
	outline: none;
}
.miniSlider__control:after{
	content: "";
	display: block;
	width: 16px;
	height: 16px;

	border-top: 3px solid #ccc;
	border-left: 3px solid #ccc;
}
.miniSlider__control_left{
	left: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.miniSlider__control_right {
	right: 0;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

/* Dots */
.miniSlider__dots {
	display: block;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 20px;
	z-index: 1000;
}
.miniSlider__dot {
	width: 15px;
	height: 15px;
	margin: 0 3px;
	
	border: 1px solid #000;
	background-color: #fff;
}
.miniSlider__dot.active {
	background-color: #000;
}
.miniSlider__dot:focus {
	outline: none;
}