@media (max-width: 1230px) {

	/* Intro */
	.intro__suptitle {
		font-size: 52px;
	}

	.intro__title {
		font-size: 120px;
	}

	/* Reviews */
	.reviews__text {
		font-size: 20px;
	}

}

@media (max-width: 990px) {

	/* Intro */
	.intro__suptitle {
		font-size: 32px;
	}

	.intro__title {
		font-size: 80px;
	}

	/* Stat */
	.stat {
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;
	}

	.stat__item {
		flex: none;
		padding: 15px;
		max-width: 20%;
	}

	.stat__count {
		font-size: 50px;
	}


	/* Services */
	.services__item {
		width: 50%;
		padding-bottom: 0;
	}

	.services__item--border {
		border-bottom: 0;
	}


	/* Reviews */
	.reviews .miniSlider2,
	.reviews .miniSlider3 {
		padding: 0 60px;
	}


	/* Clients */
	.clients__item {
		padding: 0 15px 0 150px;
	}

	.clients__photo {
		left: 20px;
	}


	/* Footer */
	.footer__col--first {
		width: 100%;
		padding: 0 15%;
	}

	.footer__col--second,
	.footer__col--third {
		width: 50%;
		margin: 0 auto;
	}

	.footer__col--third {
		max-width: 264px;
	}

}

@media (max-width: 770px) {

	/* Intro */
	.intro {
		min-height: 650px;
	}


	/* Header */
	.header {
		padding: 10px 0;
	}


	/* Nav */
	.nav {
		display: none;
		width: 100%;

		position: absolute;
		top: 100%;  /* put this block under the parent */
		left: 0;

		background-color: #e98583;
	}

	.nav.active {
		display: block;
	}

	.nav__link {
		display: block;
		margin: 0;
		padding: 8px 20px;
	}

	.nav-toggle {
		display: block;
	}


	/* Section */
	.section {
		padding: 40px 0;
	}

	.section--devices {
		padding-bottom: 0;
	}

	/* Card */
	.card {
		margin-top: 50px;
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;
	}

	.card__item {
		width: 100%;
		max-width: 410px; /* img width - 380px, padding: 0 15px */
		margin-bottom: 30px;
	}

	.card__item:last-child {
		margin-bottom: 0;
	}

	/* Slider */
	.slider__text {
		display: none;
	}

	.slider__item.active:before {
		width: 50%;
	}


	/* Devices */
	.devices__item--iphone {
		right: 0;
	}


	/* Wedo */
	.wedo__img {
		display: none;
	}

	.wedo__item {
		width: 100%;
	}


	/* Reviews */
	.reviews__item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.reviews__photo {
		margin: 0 0 20px;
		width: 150px;
		height: 150px;
	}

	.reviews__author {
		font-size: 20px;
	}


	/* Works */
	.works__col {
		flex: none;
		width: 50%;
	}


	/* Clients */
	.clients {
		max-width: 500px;
		margin: 0 auto;
	}

	.clients__item {
		width: 100%;
		padding-right: 0;
	}

	.clients__item:last-of-type {
		margin-bottom: 0;
	}


	/* Blog */
	.blog {
		max-width: 380px;
		margin: 0 auto;
	}

	.blog__item {
		width: 100%;
		margin-bottom: 50px;
	}

	.blog__item:last-of-type {
		margin-bottom: 0;
	}


	/* Footer */
	.footer__col--first {
		padding: 0;
	}

}

@media (max-width: 575px) {

	/* Intro */
	.intro__suptitle {
		font-size: 22px;
	}

	.intro__title {
		font-size: 40px;
	}

	/* Section */
	.section__header {
		margin-bottom: 50px;
	}

	.section__suptitle {
		font-size: 20px;
	}

	.section__title {
		font-size: 24px;
	}

	.section__title:after {
		margin: 20px auto;
	}

	/* Stat */
	.stat__item {
		max-width: 100%;
		width: 100%;
		border-left: none;
		border-bottom: 1px solid #b5eae0;
	}

	.stat__item:last-of-type {
		border: none;
	}
	.stat__count {
		font-size: 40px;
	}

	/* Services */
	.services {
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;
	}

	.services__item {
		width: 100%;
		max-width: 400px;
		padding-left: 55px;
		padding-right: 0;
	}

	.services__icon {
		left: 0;
	}

	/* Devices */
	.devices {
		max-width: 320px;
	}

	.devices__item--iphone {
		width: 160px;
		bottom: -50px;
		right: -30px;
	}


	/* Reviews */
	.reviews .miniSlider2,
	.reviews .miniSlider3 {
		padding: 0;
	}

	.miniSlider__control {
		top: 15%;
	}

	.reviews__text {
		font-size: 16px;
		line-height: 27px;
	}


	/* Logos */
	.logos {
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.logos__item {
		width: 33.33333%;
		margin-bottom: 20px;
	}

	.logos__img {
		margin: 0 auto; /* place img in logos_item center */
	}

	/* Works */
	.works__title,
	.works__text {
		margin: 0;
		font-size: 12px;
	}


	/* Clients */
	.clients__photo {
		position: static;
	}

	.clients__item {
		padding-left: 0;
		text-align: center;
	}

	.clients__text:before {
		margin: 15px auto;
	}


	/* Footer */
	.footer__col--second,
	.footer__col--third {
		width: 100%;
		margin: 0;
	}

	.footer__col--second {
		max-width: 400px;
	}


	/* Subscribe */
	.subscribe {
		max-width: none;
	}

	.subscribe__input,
	.subscribe__btn {
		width: 100%;
	}

	.subscribe__input {
		margin-bottom: -1px;
	}

}